<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="XPO" value="4" />
    </switches>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>